body {
	font-family: verdana, arial, sans-serif; 
	font-size: 9pt;
}
table { 
	border:1px; 
	background-color: #ffffff; 
	font-size: 9pt; 
	font-family: verdana, arial, sans-serif; 
}
input {
	border:1px solid #ABABAB; 
}
textarea {
	border:1px solid #ABABAB 
}
select {
	border:1px solid #ABABAB 
}
#column1 { 
	float:left; 
	width: 130; 
}
#column2 {
	float:left;
	width: 85%;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
}
#cr { 
	clear:both; 
	border:1px; 
	background-color: #ffffff; 
	font-size: 8pt; 
	font-family: verdana, arial, sans-serif; 
}
.head {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #006699;
	font-size: 16px;
}
.menu_active {
	font-weight: normal;
	color: #FFFFFF;
	background-color: #003399;
}
.page_name {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003399;
	padding: 3px;
}
.tooltip {
	position: relative;
	cursor: help;
/*	display: inline-block;*/
	text-decoration: none;
	outline: none;
	background: none;
}
