BODY {
    font-size : 12pt;
    padding: 0 0 0 5px;
    margin: auto;
    max-width: 1500px;
}

TD {
    font-size : 12pt;
}


A:link { 
    text-decoration: none; 
    color: #0000AD; 
} 

A:visited { 
    text-decoration: none; 
    color: #606090; 
}

A:hover {
    color : #0080C0; 
    text-decoration: underline;
}

SMALL {
    font-size : 11pt;
}

PRE { 
    font-size: 11pt;
    padding-left: 10px;
    overflow-x: auto;
    white-space: pre-wrap; 
}

TEXTAREA, INPUT, SELECT { 
    font-size: 10pt;
}

BLOCKQUOTE { 
    margin-bottom: 1pt; 
    margin-top: 1pt; 
    margin-left: 20pt; 
    margin-right: 0pt; 
}

P.a { 
	TEXT-ALIGN: left; 
	TEXT-INDENT: -15pt;
	margin-bottom: 2pt;
	margin-top: 2pt;
	margin-left: 20pt;
	margin-right: 5pt;
	font-size: 11pt;
}

LI.l { 
	margin-bottom: 10pt;
	TEXT-ALIGN: left;
}

P.b { 	
	TEXT-ALIGN: left;
	margin-bottom: 3pt;
	margin-top: 2pt;
	margin-left: 20pt;
	margin-right: 5pt;
	font-size: 12pt;
}

.h { 	
    font-size: 10.5pt;
    color: #0000AD; 
}

A.h:visited { 
    text-decoration: none; 
    color: #0000AD;
}

table.cblk {
    width: 100%;
    border: 0;
    padding: 0;
    border-collapse: collapse;
}
td.line {
    border-left:1px dashed #d7dBc1;
}
td.ctxt{
    padding: 2px 4px 2px 4px;
    border-left:3px solid #C7CBB1;
/*    border-top:1px solid #C9CaB6; */
    font-size: 85%;
    color: #202020;
}

td.chdr{
    padding: 2px 4px 2px 4px;
    border-left:3px solid #C7CBB1;
    border-bottom:1px solid #C9CaB6;
    font-size: 70%;
    color: #707070;
    background-color: #D9DAC6;
}

td.chdr2{
    padding: 2px 4px 2px 4px;
    border-bottom:1px solid #C9CaB6;
    background-color: #D9DAC6;
    text-align:right;
}

td.ctxt blockquote, td.ctxt ul {
    margin-top: 0; 
    padding-left: 7pt; 
    margin-left: 5pt; 
    color: #202020;
    font-size: 11pt;
}




table.thdr {
    width: 100%;
    border: 0;
    padding: 2px;
    margin-bottom: 3px;
    margin-top: 5px;
    background: #c7cbb1;
    font: bold 11px Arial, Helvetica;
    color: #606090;
    border-bottom:3px solid #b0b190;
    text-align:center;
}

table.thdr tr td a:link {
    color: #606090;
}

table.ttxt {
    width: 100%;
    padding: 2px 4px 2px 4px;
    margin-bottom: 5px;
    background: #E9EAD6;
    border-bottom:1px solid #b0b190;
    border-left:1px solid #b0b190;
    text-align: left;
}

table.tbrd {
    width: 100%;
    padding: 2px 4px 2px 4px;
    margin-bottom: 5px;
    border:1px solid #b0b190;
    text-align: center;
    font: 11pt Arial, Helvetica;
    color: #707088;
}

td.tnews {
    color: #707088;
    font-weight: normal; 
    font-size: 11pt; 
    font-family: Trebuchet ms, sans-serif;
}

td.tdate {
    color: #707088;
    font-size: 9pt; 
}

td.tdelim {
    padding: 1px;
    height: 4px;
    font-size: 4px; 
    background: #DEDFCB; 
}

td.tdelim0 {
    padding: 1px;
    height: 4px;
    font-size: 4px; 
}

td.tmenu {
    padding: 3px 1px 3px 1px;
    font: 10pt verdana,arial;
    color: #707088;
}

table.tlist {
    width: 100%;
    padding: 2px 4px 2px 4px;
    margin-bottom: 5px;
    background: #E9EAD6;
    border-bottom:1px solid #b0b190;
    border-left:1px solid #b0b190;
    text-align: left;
}

table.tlist tr td, td.tlist {
    padding-left: 16px;
    font: 10pt verdana, arial;
    color: #707088;
    text-indent: -12pt;
    padding-bottom: 7px;
}

.cnt {
    color: #707088;
    font-size: 7pt;
}

.vt_p {
    color: #60B060;
    font: bold 100% Arial, Helvetica;
}
.vt_m {
    color: #B06060;
    font: bold 100% Arial, Helvetica;
}
.vt_pp {
    color: #60B060;
    font: bold 80% Arial, Helvetica;
}
.vt_mm {
    color: #B06060;
    font: bold 80% Arial, Helvetica;
}
.vt_d {
    color: #606060;
    border:1px solid #b0b190;
    padding-left: 3px;
    padding-right: 3px;    
    font-size: 11pt;
}

.vt_d2 {
    color: #606060;
    border:1px solid #b0b190;
    padding-left: 2px;
    padding-right: 2px;    
    font-size: 9pt;
}

table.fadv {
    border: 1px solid #B0B190;
    background: #F9EAD6; 
    margin-bottom: 5px; 
    margin-top: 5px;
}
table.fadv td{
    padding: 5px;
}
