BODY,td, th, input, select, option {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana; font-weight: normal
}
th {font-weight: bold}
.opt{COLOR: #001F91}
.zag_t {font-size: 10px; font-style: normal; font-weight: bold; height: 35px; margin-top: 10px}

p { text-align:justify; }
a { color: blue; text-decoration: none } 
a:link, a:visited, a:active {
	font-size: 12px; color: #1179C1; font-family: Verdana; font-weight: normal
}
a:hover {color: #F30303}

.rek, .rek:link, .rek:visited, .rek:active, .rek:hover 
{font-size: 11px; color: #ffffff; font-family: Verdana; font-weight: normal; text-decoration:underline}

.rek:hover {text-decoration:none}

.menu, .menu:link, .menu:visited, .menu:active, .menu:hover 
{
	font-size: 12px; color: #ffffff; font-family: Verdana; font-weight: bold; text-decoration:none
}

.menu2, .menu2:link, .menu2:visited, .menu2:active, .menu2:hover 
{
	font-size: 10px; color: #ffffff; font-family: Verdana; font-weight: normal; text-decoration:none
}

.red {color:#F30303}

.ot {margin-left: 50px}

.marg {margin:10px;}

h1,h2,h3 {font-family: Arial;}

h1 {font-size:18px; color:#000000;}

h2 {font-size: 16px; color: #008100; padding-top:4px; margin:0px;}

h3 {font-size:14px; color:#000000;}

.multimap { display: none; visibility: hidden; }
