body { background-color: white; color: black; margin: 0; font-family: sans-serif; }
img { border: 0; padding: 0; margin: 0; }
table { border-collapse: collapse; padding: 0; border-width: 0; margin: 0; }
td { vertical-align: top; text-align: left; padding: 0; }
form { margin: 0; }
blockquote { border: 1px dashed #ffc000; padding: 2px; }
table.cen { width: 100%; }
a:normal { color: #000066; }
a:active { color: #CC0000; }
a:visited { color: #660066; }
.pad4 { padding: 4px; }
td.ar { text-align: right; }
td.vb { vertical-align: bottom; }
.header { background-image: url(header_background.gif); background-repeat: repeat-x; background-position: top; }
.header_background_left { background-image: url(header_background_left.gif); background-repeat: repeat-x; background-position: top; text-align: left; width: 18%; }
.header_bottom_right { background-image: url(header_image.gif); background-repeat: no-repeat; background-position: right bottom; padding-right: 20px; }
.shadow_text { margin-top: -50px; margin-bottom: 0px; margin-left: 120px; margin-right: -120px; font-size: 20px; text-align: left; color: #D8DDE5; padding-left: 19px; }
.menu_top { background-image: url(menu_top_background.gif); background-repeat: repeat-x; background-position: right top; }
.menu_left_background { background-image: url(menu_line_horizontal.gif); background-repeat: repeat-y; background-position: right top; background-color: #DEE3EE; height: 1px; width: 5px; }
.menu_level_1, .menu_level_1 h5 { font-size: small; font-weight: normal; color: black; padding: 8px 8px 4px 8px; letter-spacing: 1px; font-weight: bold; }
.menu_partition_sep { background-image: url(menu_line_horizontal.gif); background-color: #728EC9; background-repeat: repeat-y; background-position: right top; }
.menu_separator { background-color: #DEE3EE; height: 1px; }
.menu_normal_text { font-size: 80%; padding: 2px 8px 2px 8px; }
.info_text { background-image: url(menu_line_vertical.gif); font-size: small; color: black; background-color: #FFFFFF; background-repeat: repeat-y; background-position: left top; }
.headline { background-image: url(headline_background.gif); height: 56px; width: 100%; }
.headline img { float: left; }
.headline h1 { padding: 16px 0 0 70px; font-size: 20px; color: white; letter-spacing: 1px; }
.headline_right { background-image: url(headline_right_bg.gif); background-color: #FBFCFD; background-repeat: repeat-y; background-position: left top; }
.separator_left { background-image: url(separator_background_left.gif); }
.separator_right { background-image: url(separator_background_right.gif); }
#footer { font-size: xx-small; color: #677691; text-align: center; padding: 10px; vertical-align: bottom; background-color: #FBFCFD; }
.bottom { background-image: url(bottom.gif); font-size: 12px; color: black; background-repeat: repeat-x; height: 20px; vertical-align: bottom; text-align: left; }
.navigation { font-size: 80%; color: black; padding: 10px 0 10px 0; }
#bodyContent { margin: 20px; }
#bodyContent table { border-collapse: separate; }
#firstHeading { border-width: 0; }
#prefooter1 { background-image: url(separator_right.gif); background-repeat: no-repeat; background-position: top right; background-color: #96A4C4; width: 100%; text-align: right; font-size: 1px; height: 6px; }
#prefooter1 img { top: 0; }
.m_feedlink { margin-left: 10px; }
.custom_box { font-size: 80%; padding: 0 .5em; }
#catlinks-top div { float: left; margin: 0; }
/* Custom styles for Wikilog Calendar */
table.wl-calendar, .wl-calendar-nav, .wl-calendar-month { font-size: 125%; text-align: center; }
table.wl-calendar td { padding: 0 6px; }
.wl-calendar-nav a.mw-nextlink { margin: 0 16px 0 0; }
.newdate div { text-align: right; margin: 0 0 4px 0; }
.newdate { text-align: right; padding: 0 8px 8px 0; }
