/*
 * Wikilog extension styles.
 * Copyright © 2008-2010 Juliano F. Ravasi
 * http://www.mediawiki.org/wiki/Extension:Wikilog
 *
 * Lincensed under the GNU General Public License version 2.
 */

/* articles listed in the pagers (summary, template, archives) */

div.wl-summary-header,
div.wl-summary-footer {
	font-size: 90%;
	font-style: italic;
}

div.wl-summary-footer {
	padding: 0 3em;
}

div.wl-draft {
	border: 1px solid #CCCC99;
	background-color: #FFFFEE;
	color: #999999;
	padding: 0.25em 0.75em;
}

tr.wl-draft {
	font-style: italic;
}

.wl-navbar {
	background-color: #EEEEEE;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	color: black;
	margin: 0.5em 0;
	padding: 0.25em 0.75em;
}

.wl-pagination {
	text-align: center;
}

.wl-pagination a,
.wl-pagination span.current,
.wl-pagination span.disabled {
	margin: 0 1pt;
	padding: 1pt 3pt;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.wl-pagination a {
/* 	border: 1px solid #CCCCCC; */
	color: #0066CC;
}

.wl-pagination a:hover, .wl-pagination a:active {
/* 	border: 1px solid #000; */
	background-color: #0066CC;
	color: #EEEEEE;
}

.wl-pagination span.disabled {
	color: #CCCCCC;
}

.wl-pagination span.current {
	font-weight: bolder;
	background-color: #CCCCCC;
	color: black;
}

.TablePager_col_wlp_num_comments {
	text-align: center;
}

/* article page header and footer */

div.wl-entry-header {
	font-style: italic;
}

div.wl-entry-footer {
	font-style: italic;
	padding: 3pt 3em;
}

/* comments */

.ltr div.wl-thread { border-left: 1px solid transparent; }
.rtl div.wl-thread { border-right: 1px solid transparent; }

.ltr div.wl-thread:hover { border-left-color: #999999; }
.rtl div.wl-thread:hover { border-right-color: #999999; }

.ltr div.wl-thread div.wl-thread { margin-left: 2.0em; }
.rtl div.wl-thread div.wl-thread { margin-right: 2.0em; }

div.wl-thread div.wl-thread div.wl-thread div.wl-thread
div.wl-thread div.wl-thread div.wl-thread div.wl-thread
div.wl-thread div.wl-thread div.wl-thread div.wl-thread { margin-left: 1.0em; }

div.wl-thread div.wl-thread div.wl-thread div.wl-thread
div.wl-thread div.wl-thread div.wl-thread div.wl-thread
div.wl-thread div.wl-thread div.wl-thread div.wl-thread
div.wl-thread div.wl-thread div.wl-thread div.wl-thread
div.wl-thread div.wl-thread div.wl-thread div.wl-thread { margin-left: 0.5em; }

.ltr .wl-indent { margin-left: 2.0em; }
.rtl .wl-indent { margin-right: 2.0em; }

div.wl-comment {
	padding: 0.5em;
	position: relative; /* used by .wl-comment-tools, below */
}

div.wl-comment-highlight {
	background-color: #FFFFCC;
	color: black;
}

div.wl-comment:hover {
	background-color: #EEEEEE;
	color: black;
}

div.wl-comment-status {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	color: black;
	font-weight: bold;
	padding: 0.25em 0.75em;
}

div.wl-comment-header,
div.wl-comment-footer {
	font-size: 90%;
}

.wl-comment-tools {
	position: absolute; /* relative to .wl-comment */
	bottom: 0;
}

.ltr .wl-comment-tools { left: auto; right: 0; }
.rtl .wl-comment-tools { left: 0; right: auto; }

.wl-comment-tools a {
	color: inherit;
	text-decoration: none;
}

.wl-comment-tools li {
	display: none;
	padding: 1pt 3pt;
	font-weight: bold;
	color: #999999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.wl-comment-tools li:hover {
	background-color: #999999;
	color: #EEEEEE;
}

@media screen {
	div.wl-comment:hover .wl-comment-tools li,
	div.wl-comment-highlight .wl-comment-tools li {
		display: inline;
	}
}

@media print {
	#wl-comment-form {
		display: none;
	}
}

div.wl-comment-pending .wl-comment-text,
div.wl-comment-deleted .wl-comment-text {
	color: #999999;
}

div.wl-comment-placeholder {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	color: #999999;
	font-style: italic;
	padding: 0.5em;
	text-align: center;
}

.wl-comments {
	clear: both;
}

.wl-comment-tools li.wl-comment-action-reply,
.wl-comment-tools li.wl-comment-action-approve {
	color: #009900;
}

.wl-comment-tools li.wl-comment-action-reply:hover,
.wl-comment-tools li.wl-comment-action-approve:hover {
	background-color: #009900;
	color: #EEEEEE;
}

.wl-comment-tools li.wl-comment-action-reject {
	color: #990000;
}

.wl-comment-tools li.wl-comment-action-reject:hover {
	background-color: #990000;
	color: #EEEEEE;
}

.TablePager .TablePager_col_wlp_talk_updated { padding: 0; text-align: center; }

.TablePager .wl-unread .TablePager_col_wlp_title {
	background-position: 3px center;
	padding-left: 24px;
	background-image: url(wl-unread.gif);
	background-repeat: no-repeat;
}

.TablePager .wl-unread td {
	font-weight: bold;
}

/* wikilog tab */

div.wl-description {
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	color: black;
	padding: 0.25em;
}

div.wl-description div.wl-title {
	font-size: 110%;
	font-weight: bold;
}

div.wl-description div.wl-subtitle p {
	line-height: inherit;
	margin: 0;
}

table.wl-calendar {
	margin: 0 auto 4px auto;
}

.wl-calendar td {
	text-align: right;
	padding: 2px 3px 0 3px;
	background-color: #f0f0f0;
}

.wl-calendar td.wl-calendar-day {
	font-weight: bold;
	background-color: #e0e0e0;
}

.wl-calendar td.wl-calendar-other {
	color: gray;
	background-color: transparent;
	font-weight: normal;
}

.wl-calendar-nav a {
	white-space: nowrap;
}

.wl-calendar-nav a.mw-prevlink {
	margin: 0 8px 0 0;
}

.wl-calendar-month {
	margin: 4px 0 0 0;
}

body.skin-vector #p-wikilogcalendar { font-size: 70%; }

table.wl-archives td, table.wl-archives th { padding: 2px 5px; }
table.wl-archives th { white-space: nowrap; }
table.wl-archives td.TablePager_col_wlp_num_comments { padding: 2px 0px; }

/* kate: indent-mode normal; space-indent off; tab-width 4; */
