/**
 * Common styles for ubuntu-portal themes
 *
 * @author Simple Machines
 * @author Vadim Nevorotin <malamut@ubuntu.ru>
 */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("http://s.ubuntu.ru/img/bg_dotted.png");
	background-position: 0px 0px;
	background-repeat: repeat;
	color: #333;
	font-family: "Ubuntu Beta", "UbuntuBeta", "Ubuntu", "Bitstream Vera Sans", "DejaVu Sans", "Tahoma", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 16px;
}

img {
	border: 0;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #dd4814;
}

a:hover, a:active {
	text-decoration: underline;
}

.clearer {
	clear: both;
	height: 0px;
}

.rounded {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.bottom-rounded {
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

.top-rounded {
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}


/* Шрифты */

h1, h2, h3, h4, h5, h6 { 
	font-weight: 400;
}

h1 {
	font-size: 36px;
	line-height: 40px;
	display: block;
}

h2 {
	font-size: 24px;
	line-height: 28px;
	display: block;
}

.small-text {
	font-size: 10px;
	line-height: 14px;
}

/* *** */

div#__container {
	width: 100%;
	position: relative;
	min-height: 100%;
}

div#__container > div:first-child {
	margin: 0px auto;
	min-width: 1100px;
	/*width: 1000px;*/
	max-width: 1400px;
	position: relative;
	min-height: 100%;
}

#__page {
	background-color: #f7f7f7;
	margin: 0px 25px 9px 25px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

body.with-bottom-panel #__page {
	margin-bottom: 49px;
}

body#__detail #__page {
	margin-bottom: 25px;
}

#__wrapper {
	background-color: #fff;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	border: solid #ddd;
	border-width: 2px 1px;
	border-top: none;
}

div#__container > div:first-child > div.no {
	width: 100%;
	height: 16px;
	display: block;
}

/**************/
/*** HEADER ***/

#__header {
	height: 106px;
	position: relative;
}

/* Header menu */
#__header-menu {
	height: 64px;
	padding: 0px 16px;
	background: #dd4814 url("http://s.ubuntu.ru/img/header_b.png") repeat-x;
	-webkit-border-radius: 0px 0px 4px 4px;
        -moz-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
}

#__header-menu a {
	text-decoration: none;
}

#__header-menu li {
	float: left;
	display: block;
}

#__header-menu > ul {
	display: block;
	list-style-type: none;
	float: left;
	font-size: 14px;
	background: transparent url("http://s.ubuntu.ru/img/menu_divider.png") repeat-y;
}

#__header-menu > ul a {
	display: block;
	text-align: center;
	padding: 24px 9px 0px 8px;
	height: 40px;
	color: #fff;
	text-shadow: 0px 1px #000;
	background: transparent url("http://s.ubuntu.ru/img/menu_divider.png") 100% 0% repeat-y;
}

#__header-menu > ul a:hover,
#__header-menu > ul a:active,
#__header-menu > ul a.active
{
	background: transparent url("http://s.ubuntu.ru/img/menu_active.png") repeat;
}

/* Header submenu */
#__header-menu .header-submenu {
	position: absolute;
	z-index: 9;
	width: 100%;
	margin-right: -258px;
	top: 64px;
	left: 16px;
}

#__header-menu .header-submenu > div {
	margin-right: 259px;
	background-color: #f7f7f7;
	border: #f3f3f3 solid 1px;
	border-bottom-color: #ececec;
	border-top: none;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

#__header-menu .header-submenu ul {
	display: block;
	list-style-type: none;
	float: left;
	font-size: 12px;
	background: url("http://s.ubuntu.ru/img/subnav_active_bg.png") repeat;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

#__header-menu .header-submenu a {
	padding-top: 13px;
	height: 27px;
	color: #333;
	text-shadow: none;
	background: #f7f7f7 url("http://s.ubuntu.ru/img/third_nav_divider.png") no-repeat 100% 1px;
}

#__header-menu .header-submenu a:hover,
#__header-menu .header-submenu a:active,
#__header-menu .header-submenu a.active
{
	background: transparent;
	color: #dd4814;
}

#__header-menu .header-submenu li:first-child a {
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

/* Controls in header */

#__header-controls {
	float: right;
}

/* User info in submenu */
#__header-menu #__header-user {
	height: 39px;
	padding: 1px 8px 0 0;
	float: left;
	font-size: 12px;
	line-height: 39px;
	color: #aea79f;
}

#__header-menu #__header-user > a {
	padding: 0;
	display: inline-block;
	height: 39px;
	color: inherit;
	background: none;
}

#__header-menu #__header-user > a.userlink {
	padding-left: 18px;
}

#__header-menu #__header-user a.userlink.male {
	background: url("http://s.ubuntu.ru/img/userlink/user-male.png") no-repeat 0% 50% !important;
}

#__header-menu #__header-user a.userlink.female {
	background: url("http://s.ubuntu.ru/img/userlink/user-female.png") no-repeat 0% 50% !important;
}

#__header-menu #__header-user a.userlink.unknown {
	background: url("http://s.ubuntu.ru/img/userlink/user-unknown.png") no-repeat 0% 50% !important;
}

#__header-menu #__header-user a.logout:hover,
#__header-menu #__header-user a.login:hover {
	color: #dd4814;
}

#__header-menu #__header-user a.userlink span.userlink-popup {
	left: auto;
	right: -8px;
	top: 30px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Toolbox */
#__header-menu #__header-toolbox {
	height: 32px;
	padding-top: 8px;
	float: left;
	font-size: 12px;
	line-height: 24px;
	background: #f7f7f7 url("http://s.ubuntu.ru/img/third_nav_divider.png") no-repeat 0 1px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	position: relative;
}

#__header-menu #__header-toolbox > img {
	margin: 0 8px 0 9px;
}

#__header-menu #__header-toolbox div.header-popup {
	left: auto;
	right: -1px;
}

/* Submenus and other list popups */
#__header-menu div.header-popup {
	z-index: 90;
	display: none;
	position: absolute;
	top: 40px;
	left: 0px;
	padding-top: 3px;
	width: auto;
	white-space: nowrap;
}

#__header-menu *:hover > div.header-popup {
	display: block;
}

#__header-menu div.header-popup ul {
	display: block;
	float: none;
	font-weight: normal;
	line-height: 16px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#__header-menu div.header-popup li {
	float: none;
}
#__header-menu div.header-popup li.divider {
	height: 1px;
	padding: 2px 4px;
	background: #f7f7f7;
}

#__header-menu div.header-popup li.divider hr {
	border: none;
	border-top: 1px solid #ccc;
	height: 0;
}

#__header-menu div.header-popup li a
{
	display: block;
	height: auto;
	padding: 6px 8px;
	z-index: 190;
	text-align: left;
}

#__header-menu div.header-popup li > a:first-child
{
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

#__header-menu div.header-popup li:last-child a
{
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

/* SMF specific */

#__header-menu #menu_nav li
{
	float: left;
	position: relative;
}

#__header-menu #menu_nav li > div {
	z-index: 90;
	display: none;
	position: absolute;
	width: 220px;
	padding-top: 3px;
}

#__header-menu #menu_nav li ul
{
	font-weight: normal;
	border: 1px solid #cccccc;
	-webkit-border-radius: 0px 4px 4px 4px;
	-moz-border-radius: 0px 4px 4px 4px;
	border-radius: 0px 4px 4px 4px;
}

#__header-menu #menu_nav li li a
{
	display: block;
	width: 220px;
	height: 20px;
	padding: 4px 0px 0px 0px;
	z-index: 190;
}

#__header-menu #menu_nav li li > a:first-child
{
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}

#__header-menu #menu_nav li li a.last
{
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

#__header-menu #menu_nav li ul ul
{
	margin: -1.8em 0 0 13em;
}

/* the hover effects on level2 and 3 */
#__header-menu #menu_nav li li a:hover,
#__header-menu #menu_nav li li:hover>a
{
	background: transparent;
	color: #dd4814;
	text-decoration: none;
}

#__header-menu #menu_nav li:hover ul ul,
#__header-menu #menu_nav li:hover ul ul ul
{
	top: -999em;
}

#__header-menu #menu_nav li li:hover ul
{
	top: auto;
}

#__header-menu #menu_nav li:hover > div
{
	display: block;
}

#__header-menu #menu_nav li li.additional_items
{
	background-color: #fff;
}

/* Header logo */

#__header-logo {
	float: right;
}

#__header-logo a {
	display: block;
	margin-top: 16px;
}

/* Search form */

#__search-box {
	position: relative;
	z-index: 20;
	/*top: -1px;*/
	float: right;
	margin-right: 16px;
	padding: 7px 0 0 8px;
	height: 33px;
	width: 214px;
	background-color: #f7f7f7;
	border: #f3f3f3 solid 1px;
	border-bottom-color: #ececec;
	border-top: none;
	/*border-top-color: #ccc;
	border-top-style: solid;
	border-top-width: 1px;*/
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

#__search-box input#search__input,
#__search-box input.edit
{
	width: 172px;
	border: 1px solid #ccc;
	height: 14px;
	padding: 6px 0 4px 4px;
	float: left;
	margin-right: 7px;
	font-size: 11px;
}

#__search-box input#search__submit,
#__search-box input.button
{
	margin-top: 1px;
	width: 24px;
	height: 25px;
	background: transparent url("http://s.ubuntu.ru/img/search_submit_bg_2.png") no-repeat;
	border: none 0px;
	cursor: pointer;
	text-indent: 35px;
	overflow: hidden;
	float: left;
}

#__search-box input#search__submit:hover,
#__search-box input.button:hover
{
	background-position: 0px -23px;
}

#__search-box input#search__submit:active,
#__search-box input.button:active
{
	background-position: 0px -46px;
}

/* Всплывающая подсказка для формы поиска */
#__search-box div.ajax_qsearch {
  position: absolute;
  left: -1px;
  top: 43px;
  min-width: 222px;
  display: none;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#__search-box div.ajax_qsearch strong {
	display: block;
	padding: 6px 10px;
	font-weight: normal;
	background-image: url("http://s.ubuntu.ru/img/subnav_active_bg.png");
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}

#__search-box div.ajax_qsearch ul {
	margin: 6px 8px;
	list-style: none;
	line-height: 18px;
}
#__search-box div.ajax_qsearch li { 
	padding-left: 8px;
	background: url("http://s.ubuntu.ru/o/tocdot2.gif") 0px 9px no-repeat;
}

/*****************/
/*** MAIN AREA ***/

#__main {
	position: relative;
	padding: 0 16px 16px 16px;
	color: #222;
}

#__main-title h1 {
	margin: 30px 0px 32px 8px;
	float: left;
	clear: left;
}

#__main-title h1 a,
#__main-title h1 a:hover {
	color: inherit;
	text-decoration: none;
}

#__main-title h2 {
	margin: 0px 0px 32px 8px;
	float: left;
	clear: left;
}

#__main-title span {
	color: #aea79f;
}

/* Upshrink for SMF */

#__main-title #upshrink {
	float: right;
	clear: right;
	padding-top: 44px;
	padding-right: 7px;
}

/* Message Area */

div.msgarea {
	clear: both;
	margin: 8px 0px;
}

div.msgarea > div {
	padding: 4px 8px;
	padding-left: 32px;
	background-position: 8px 4px;
}

/***************/
/*** CONTENT ***/

.content {
	clear: both;
	position: relative;
	background-color: #f7f7f7;
	padding: 1px 0px;
	margin-bottom: 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.content-main {
	margin: 15px 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* smf */

div.smf {
	clear: both;
}

/* sidebars */

.content-wrapper {
	width: 100%;
	margin-right: -236px;
	float: left;
}

.content-wrapper .content {
	margin-right: 236px;
}

.sidebar {
	float: right;
	width: 222px;
	font-size: 14px;
	line-height: 18px;
	background: #f7f7f7;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 4px #bbb;
	-moz-box-shadow: 0px 0px 4px #bbb;
	box-shadow: 0px 0px 4px #bbb;
}

.sidebar a {
	color: __text__;
	text-decoration: none;
}

.sidebar a.wikilink2 {
	color: #aea79f;
	text-decoration: none;
}

.sidebar div a:hover,
.sidebar div a:active
{
	color: __existing__;
}

.sidebar h4 {
	display: block;
	padding: 7px 8px;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	background: #dfdcd9;
}

.sidebar h4 a {
	color: __text__;
}

.sidebar > div {
	margin: 8px 12px 8px 0px;
}

.sidebar ul {
	list-style: none;
	margin-left: 10px;
	line-height: 22px;
}

.sidebar div.li {
	background: url("http://s.ubuntu.ru/img/hs_arrow.png") no-repeat 0% 50%;
	/*text-indent: -16px;
	padding-left: 28px;*/
	padding-left: 12px;
}

.sidebar div.li:hover {
	background: url("http://s.ubuntu.ru/img/H3_arrow.png") no-repeat 0% 50%;
}

/* Кнопочка Править для боковой колонки */

.sidebar div.secedit2 {
	margin: 0px;
	position: relative;
	top: -8px;
	left: -8px;
	float: right;
}

.sidebar div.secedit2 a {
	color: #ccc;
}

/* Breadcumbs */

div.breadcrumbs {
	padding: 13px 8px 0px 8px;
	height: 27px;
	position: relative;
	float: right;
	color: #aea79f;
}

div.breadcrumbs a:hover {
	text-decoration: underline;
	color: #dd4814;
}

/**************/
/*** FOOTER ***/

#__site-footer {
	position: relative;
	padding: 16px 0 16px 16px;
	font-size: 10px;
	line-height: 16px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

#__site-footer > ul {
	display: block;
	float: left;
	list-style-type: none;
	width: 16.6666666%;
	margin-bottom: 24px;
}

#__site-footer > ul li {
	display: block;
	margin-right: 16px;
	border-bottom-color: #333333;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

#__site-footer > ul li:first-child {
	font-weight: bold;
}

#__site-footer > ul a {
	color: #333;
}

#__site-footer > ul a:hover {
	color: #dd4814;
	text-decoration: underline;
}

#__site-footer > ul a:active,
#__site-footer > ul a.active
{
	color: #dd4814;
}

#__site-footer > ul a.rss-feed {
	padding-right: 18px;
	background: url("http://s.ubuntu.ru/img/news_feed_bg.png") 100% 0 no-repeat;
}

#__site-footer > p {
	clear: both;
	float: left;
	color: #aea79f;
	padding-top: 3px;
	line-height: 12px;
	position: relative;
	top: 2px;
}

#__site-footer > a {
	display: block;
	float: right;
	position: relative;
	padding-right: 16px;
	height: 27px;
}

/* ************ */
/* Content menu */

#__control,
#__control.pinned-down {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background: #f7f7f7;
	border-top: solid 1px #ccc;
	height: 40px;
	z-index: 100000;
}

#__control.pinned-up {
	position: fixed;
}

#__control ul {
	display: block;
	list-style-type: none;
	background: #f7f7f7 url("http://s.ubuntu.ru/img/subnav_active_bg.png") repeat;
	float: right;
}

#__control ul:first-child {
	float: left;
}

#__control li {
	float: right;
}

#__control ul:first-child li {
	float: left;
}

#__control ul a {
	display: block;
	height: 27px;
	text-align: center;
	padding: 13px 8px 0px 8px;
	color: #333;
	text-decoration: none;
	background: #f7f7f7 url("http://s.ubuntu.ru/img/third_nav_divider_r.png") no-repeat 0px 1px;
}

#__control ul:first-child a {
	background: #f7f7f7 url("http://s.ubuntu.ru/img/third_nav_divider.png") no-repeat 100% 1px;
}

#__control ul a:hover,
#__control ul a:active,
#__control ul a.active
{
	color: #dd4814;
	background: transparent;
}

/* #########################################################################
 * Дополнительные элементы
*/

div.sidebar-button {
	float: right;
	position: relative;
	clear: right;
	padding-top: 16px;
}

#__main-title div.sidebar-button {
	padding-top: 29px;
}

a.ubuntu-button-224,
a.ubuntu-button-400 {
	display: block;
	height: 40px;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
}

a.ubuntu-button-224 {
	width: 224px;
	background: url("http://s.ubuntu.ru/img/btn-manual-download.png") no-repeat;
}

a.ubuntu-button-224:hover {
	background: url("http://s.ubuntu.ru/img/btn-manual-download-hover.png") no-repeat;
}

a.ubuntu-button-400 {
	width: 400px;
	background: url("http://s.ubuntu.ru/img/btn-400.png") repeat-x;
}

a.ubuntu-button-400:hover {
	background: url("http://s.ubuntu.ru/img/btn-400-hover.png") repeat-x;
}

div.besthosting {
	float: left;
	height: 26px;
	margin: 0 32px;
	margin-top: 1px;
	text-align: center;
	line-height: 10px;
	position: relative;
	top: 2px;
}

div.besthosting a {
	color: #aea79f;
}

div.besthosting a:hover {
	color: #dd4814;
	text-decoration: none;
}

/* ######################################################################################## 
 * Стили для дополнительных модификаций, указываемых через класс body
*/

/* dark и grey
   страница на баклажанном или сером фоне вместо светлого */

body.dark #__wrapper {
	background-color: #2c001e;
}

body.grey #__wrapper {
	background-color: #dfdcd9;
}

body.dark .content,
body.grey .content {
	background-color: #f7f7f7;
}

body.dark .content-main,
body.grey .content-main {
	margin-bottom: 31px;
}

body.dark #__main-title h1 {
	color: #fff;
}

body.dark #__main-title h2 {
	color: #aea79f;
}

body.dark .content-wrapper .content,
body.grey .content-wrapper .content {
	margin-right: 227px;
}

body.dark .sidebar,
body.grey .sidebar {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

body.dark #__header-menu,
body.grey #__header-menu {
	border-bottom-color: #2f1326;
}

body.dark #__header-menu .header-submenu > div,
body.grey #__header-menu .header-submenu > div {
	border-bottom-color: #ccc;
}

body.dark #__header-menu .header-submenu a:hover,
body.dark #__header-menu .header-submenu a:active,
body.dark #__header-menu .header-submenu a.active,
body.grey #__header-menu .header-submenu a:hover,
body.grey #__header-menu .header-submenu a:active,
body.grey #__header-menu .header-submenu a.active
{
	background: transparent;
	color: #dd4814;
}

body.dark #__search-box,
body.grey #__search-box {
	border-bottom-color: #ccc;
}

/* Стили для alarm */
body > a#alarm,
body > a#alarm:hover,
body > a#alarm:active {
        font-family: "Verdana", sans-serif;
        background-color: #111;
        padding: 10px 30px 5px 30px;
        color: #E8EBF3;
        font-size: 14px;
        line-height: 1.3em;
        text-align: center;
        display: block;
        text-decoration: none;
}

body > a#alarm p.alarm-big {
        font-size: 20px;
        color: #E8EBF3;
        margin: 10px 0;
}

