/* стили для комментов */
/* шапка комментов - котоаря сворачивает-разворачивает*/
.commentTop {
	background-color: #B9CCDF;
	padding: 2px 2px 2px 5px;
	cursor: pointer;	/* для тупого файрфокса - иначе не будет руки... */
	cursor: hand;
	}
/* чётные комменты (где-то перепуталось и они на самом деле не чётные) */
.commentEven {
	background-color: #F1F1F1;
	padding: 5px 2px 5px 5px;
}
/* нечётные комменты (где-то перепуталось и они на самом деле чётные) */
.commentOdd {
	background-color: #E0E0E0;
	padding: 5px 2px 5px 5px;
}
/* для формы ввода - отделение друг от друга кнопок b-u-i-color*/
.inputForm {
	padding: 1px 1px 1px 1px;
}
/* в проекте - пеервод левого меню на дивы - больно там дикая комбинация таблиц...*/
.leftMenu {
	padding: 1px 1px 1px 1px;
}

/* added by lissyara 2007-08-04 in 21:38
 * стиль для рекламных ссылок */
a		{COLOR: blue; TEXT-DECORATION: none}
a:link		{COLOR: blue; TEXT-DECORATION: none}
a:visited	{COLOR: blue; TEXT-DECORATION: none}
a:hover		{COLOR: darkblue; TEXT-DECORATION: underline}
a:active	{COLOR: darkblue; TEXT-DECORATION: none}
.reklama_link	{
		background: url(../images/li_squadre.gif) top left no-repeat;
		padding-left: 12px;
}
/* линковка на auto.lissyara.su */
a.menu		{COLOR: black; TEXT-DECORATION: none; display:block;}
a.menu:link	{COLOR: black; TEXT-DECORATION: none}
a.menu:visited	{COLOR: black; TEXT-DECORATION: none}
a.menu:hover	{COLOR: black; TEXT-DECORATION: underline}
a.menu:active 	{COLOR: black; TEXT-DECORATION: none}

p {margin: 0px 0px 3px 0px }


/* for body style */
body {
	font-size:      14px;
	margin:         0;
	padding:        14px 0;
	font-family:    Courier New;
	/* not work
	 * font-family:    Courier New URL('http://www.lissyara.su/scripts/tahoma.ttf');
	 * */
}


acmt { }

form {margin:0px 0px 0px 0px }

/* стиль для левого меню */
a.left-menu-link		{COLOR: black; TEXT-DECORATION: none; display:block;}
a.left-menu-link:link		{COLOR: black; TEXT-DECORATION: none}
a.left-menu-link:visited	{COLOR: black; TEXT-DECORATION: none}
a.left-menu-link:hover		{COLOR: black; TEXT-DECORATION: underline}
a.left-menu-link:active 	{COLOR: black; TEXT-DECORATION: none}
#left_menu .hilightoff{	BORDER-RIGHT: #f1f1f1 1px solid; 
			BORDER-TOP: #f1f1f1 1px solid;
			BORDER-LEFT: #f1f1f1 1px solid;
			COLOR: #000000;
			BORDER-BOTTOM: #f1f1f1 1px solid;
			TEXT-DECORATION: none;
			BACKGROUND: #f1f1f1;}
#left_menu .hilighton{	BORDER-RIGHT: #707680 1px solid;
			BORDER-TOP: #707680 1px solid;
			BORDER-LEFT: #707680 1px solid;
			COLOR: #000000;
			BORDER-BOTTOM: #707680 1px solid;
			BACKGROUND-COLOR: #cccccc;
			TEXT-DECORATION: underline;}
#left_menu .current{	BORDER-RIGHT: #707680 1px solid;
			BORDER-TOP: #707680 1px solid;
			BORDER-LEFT: #707680 1px solid;
			COLOR: #000000;
			BORDER-BOTTOM: #707680 1px solid;
			BACKGROUND-COLOR: white;
			TEXT-DECORATION: none;}

/* стиль для главного меню */
#viLocalToolbar	{FONT: 70% Verdana;}
#viLocalToolbar A {FONT: 70% Verdana; COLOR: black; TEXT-DECORATION: none}
.lt0	{	BORDER-RIGHT: #f1f1f1 1px solid;
		BORDER-LEFT: #f1f1f1 1px solid;
		BORDER-TOP: #f1f1f1 1px solid;
		BORDER-BOTTOM: #f1f1f1 1px solid; 
		PADDING-RIGHT: 6px; 
		PADDING-LEFT: 6px;  
		PADDING-BOTTOM: 0px; 
		PADDING-TOP: 0px;
		BACKGROUND: #f1f1f1;
	}
.lt1	{
		BORDER-RIGHT: #707680 1px solid;
		BORDER-LEFT: #707680 1px solid;
		BORDER-TOP: #707680 1px solid;
		BORDER-BOTTOM: #707680 1px solid;
		PADDING-RIGHT: 6px;
		PADDING-LEFT: 6px;
		PADDING-BOTTOM: 0px;
		PADDING-TOP: 0px;
		BACKGROUND: #ccc;
}

/* стиль для линков */
A.text_link		{COLOR: blue; TEXT-DECORATION: none}
A.text_link:link	{COLOR: blue; TEXT-DECORATION: none}
A.text_link:visited	{COLOR: blue; TEXT-DECORATION: none}
A.text_link:hover	{COLOR: darkblue; TEXT-DECORATION: underline}
A.text_link:active	{COLOR: darkblue; TEXT-DECORATION: none}

/* линки текущих разделов */
A.link_drkbl		{COLOR: darkblue; TEXT-DECORATION: none}
A.link_drkbl:link	{COLOR: darkblue; TEXT-DECORATION: none}
A.link_drkbl:visited	{COLOR: darkblue; TEXT-DECORATION: none}
A.link_drkbl:hover	{COLOR: darkblue; TEXT-DECORATION: underline}
A.link_drkbl:active	{COLOR: blue; TEXT-DECORATION: none}

/* стиль подсветки таблиц */
#main_table	.hilightoff		{BACKGROUND: #FFFFFF}
#main_table	.hilightoff_body	{BACKGROUND: #f1f1f1}
#main_table	.hilighton		{BACKGROUND: #ccbbff}

/* стиль для списков */
li	{
	list-style-type: square;
	list-style-image: url(../images/li_squadre.gif);
}

/* таблицы для ввода комментариев (надо вообще на дивы пеерделать...) */
table.comment		{
	background-color: #f1f1f1;
	border-spacing: 0px;
	border-collapse: collapse;
	border: 1px solid #707680;
}

table.comment	th	{
	padding: 3px;
	border: 1px solid #707680;
	background-color: #dee7ec;
}

table.comment	td	{
	padding: 3px;
	border: 1px solid #707680;
}

/* стиль для кнопок bb_code формы ввода. css закешируется а в странице оно кадый раз гоняется...*/
input.bb_code		{
	width:		35px;
	border:		1px solid #707680;
	cursor:		pointer;		/* для тупого файрфокса - иначе не будет руки... */
	cursor:		hand;
	background-color: #DAE0E7;
}
/* стиль для большой кнопки "Отправить" */
input.big_send		{
	width:		445px;
	background-color: #DAE0E7;
	font:		12px;
	border:		1px solid #707680;
	cursor:		pointer;		/* для тупого файрфокса - иначе не будет руки... */
	cursor:		hand;
}
/* стиль для большого окна ввода (445px на 9 строк) class=\"big_input\" */
textarea.big_input	{
	width:		445px;
	border:		1px solid #707680;
	font:		12px;
}
/* стиль длинного пола ввода - 445px */
input.input_445px		{
	width:			445px;
	background-color:	#FFFFFF;
	font:			12px;
	border:			1px solid #707680;
}

/* стиля для поиска по сайт*/
input.input_google		{
	width:			445px;
	background-color:	#FFFFFF;
	font:			12px;
	border:			1px solid #707680;
}
input.input_google_button		{
	width:			150px;
	background-color: #DAE0E7;
	font:		12px;
	border:		1px solid #707680;
	cursor:		pointer;		/* для тупого файрфокса - иначе не будет руки... */
	cursor:		hand;
}
