//файл ресурсов
//идентификаторы ресурсов
//определение констант стилей
#define WS_VISIBLE			0x010000000L
#define WS_SYSMENU			0x00080000L
#define WS_MINIMIZEBOX		0x00020000L
#define WS_MAXIMIZEBOX		0x00010000L

//определение немодального диалогового окна
DIALOG DIALOGEX 10, 10, 150, 100
STYLE  WS_VISIBLE | WS_SYSMENU | WS_MINIMIZEBOX |WS_MAXIMIZEBOX
CAPTION "Немодальное диалоговое окно"
FONT 12, "Arial"
{
}
