base-cygwin	(3.3-1)
	Initial base installation helper script.
	Required by: cygwin

ca-certificates	(1.97-2)
	CA root certificates
	Required by: libopenssl100

coreutils	(8.23-4)
	GNU core utilities (includes fileutils, sh-utils and textutils)
	Required by: bash, tzcode, rebase

crypt	(1.2-1)
	Encryption/Decryption utility and library
	Required by: perl

cygwin	(1.7.32-1)
	The UNIX emulation engine
	Required by: bash, coreutils, libgcc1, libreadline7, _update-info-dir, libgmp10, _autorebase, libstdc++6, texinfo, gawk, rebase, dash, perl, perl_vendor, grep, gzip, libssp0, libgdbm4, libopenssl100, libpcre1, ca-certificates, p11-kit, p11-kit-trust, libp11-kit0

dash	(0.5.8-2)
	Dash shell
	Required by: _autorebase, rebase

gawk	(4.1.1-1)
	GNU awk, a pattern scanning and processing language
	Required by: tzcode

grep	(2.20-1)
	Search for regular expression matches in text files
	Required by: rebase

gzip	(1.6-1)
	The GNU compression utility
	Required by: rebase

libattr1	(2.4.46-1)
	Shared lib for managing filesystem extended attributes
	Required by: coreutils

libbz2_1	(1.0.6-2)
	A high-quality block-sorting file compressor (runtime)
	Required by: perl_vendor

libdb4.8	(4.8.30-1)
	Oracle Berkeley DB (db4.8 - C and C++ libs)
	Required by: perl

libexpat1	(2.1.0-3)
	Expat XML parser library (shared library)
	Required by: perl_vendor

libffi6	(3.0.13-1)
	Portable foreign function interface library
	Required by: libp11-kit0

libgcc1	(4.8.3-3)
	GCC C runtime library
	Required by: bash, coreutils, libncursesw10, libiconv2, tzcode, libstdc++6, gawk, perl, perl_vendor, grep, gzip, libdb4.8, libbz2_1, zlib0, libopenssl100, libncurses10

libgdbm4	(1.8.3-20)
	GNU dbm database routines (runtime)
	Required by: perl

libgmp10	(6.0.0a-1)
	Library for arbitrary precision arithmetic (C runtime)
	Required by: coreutils, gawk, libmpfr4

libiconv2	(1.14-2)
	GNU character set conversion library and utilities - runtime (1)
	Required by: coreutils, libintl8, perl_vendor, grep, libxml2

libintl8	(0.18.3.2-2)
	GNU Internationalization runtime library
	Required by: bash, coreutils, texinfo, gawk, grep, sed, libp11-kit0

liblzma5	(5.0.5-1)
	LZMA de/compressor library (runtime)
	Required by: perl_vendor, libxml2

libmpfr4	(3.1.2-1)
	A library for multiple-precision floating-point arithmetic with exact rounding (runtime)
	Required by: gawk

libncurses10	(5.9-20140524-1)
	Terminal display library
	Required by: perl_vendor

libncursesw10	(5.9-20140524-1)
	Terminal display library
	Required by: bash, libreadline7, texinfo, perl_vendor

libopenssl100	(1.0.1j-1)
	A general purpose cryptography toolkit with TLS implementation (runtime)
	Required by: perl_vendor

libp11-kit0	(0.20.4-1)
	PKCS#11 module library
	Required by: p11-kit

libpcre1	(8.35-1)
	Perl Compatible Regular Expressions UTF-8 runtime
	Required by: grep

libreadline7	(6.1.2-3)
	GNU readline and history libraries (runtime)
	Required by: bash, gawk, perl_vendor, libxml2

libssp0	(4.8.3-3)
	GCC Stack-Smashing Protection runtime library
	Required by: perl, perl_vendor

libstdc++6	(4.8.3-3)
	GCC C++ runtime library
	Required by: libncursesw10, libdb4.8, libncurses10

libtasn1_6	(3.3-1)
	Tiny ASN.1 library (runtime)
	Required by: p11-kit, p11-kit-trust

libxml2	(2.9.1-1)
	GNOME XML library (runtime)
	Required by: perl_vendor

p11-kit	(0.20.4-1)
	PKCS#11 module tool
	Required by: ca-certificates

p11-kit-trust	(0.20.4-1)
	PKCS#11 module library
	Required by: ca-certificates

perl	(5.14.2-3)
	Larry Wall's Practical Extracting and Report Language
	Required by: texinfo, perl_vendor

perl_vendor	(5.14.2-3)
	Additional vendor modules previously packaged in perl-5.10
	Required by: texinfo

rebase	(4.4.1-1)
	Utilities for rebasing DLLs to load at alternate addresses
	Required by: _autorebase

sed	(4.2.2-3)
	The GNU sed stream editor
	Required by: rebase

terminfo	(5.9-20140524-1)
	Terminal capability database
	Required by: libncursesw10, libncurses10

texinfo	(5.2-2)
	GNU documentation formatter and viewer
	Required by: _update-info-dir

tzcode	(2013d-1)
	Time Zone Database
	Required by: coreutils

zlib0	(1.2.8-1)
	Zlib de/compression library (runtime)
	Required by: perl_vendor, libopenssl100, libxml2

_autorebase	(000656-1)
	Run rebaseall automatically
	Required by: libgcc1, cygwin, libgmp10, libstdc++6, gawk, perl, perl_vendor, libssp0, libopenssl100, libpcre1, p11-kit-trust, libp11-kit0

_update-info-dir	(01289-1)
	Generate info/dir file automatically
	Required by: bash, coreutils, texinfo, gawk, grep, gzip

bash	123
	asf
	Required by: 

