bzip2	(1.0.6-2)
	A high-quality block-sorting file compressor (utilities)
	Required by: tar

ca-certificates	(2.1-1)
	CA root certificates
	Required by: libopenssl100

crypt	(1.2-1)
	Encryption/Decryption utility and library
	Required by: perl

groff	(1.22.2-2)
	GNU roff formatter
	Required by: man-db

less	(444-1)
	A file pager program, similar to more(1)
	Required by: man-db

libargp	(20110921-2)
	Interface for parsing command line arguments
	Required by: getent

libattr1	(2.4.46-1)
	Shared lib for managing filesystem extended attributes
	Required by: coreutils

libblkid1	(2.24.2-1)
	Block device ID library (runtime)
	Required by: util-linux

libbz2_1	(1.0.6-2)
	A high-quality block-sorting file compressor (runtime)
	Required by: bzip2, perl_vendor

libcharset1	(1.14-2)
	GNU character set conversion library and utilities - runtime (2)
	Required by: libiconv

libdb4.8	(4.8.30-1)
	Oracle Berkeley DB (db4.8 - C and C++ libs)
	Required by: perl

libexpat1	(2.1.0-3)
	Expat XML parser library (shared library)
	Required by: perl_vendor

libffi6	(3.0.13-1)
	Portable foreign function interface library
	Required by: libp11-kit0

libgcc1	(4.8.3-3)
	GCC C runtime library
	Required by: bash, coreutils, file, findutils, gawk, grep, gzip, man-db, tar, tzcode, util-linux, vim-minimal, zlib0, libiconv2, libncursesw10, groff, less, libiconv, bzip2, xz, libblkid1, libuuid1, libstdc++6, libncurses10, libcharset1, libopenssl100, libbz2_1, perl, perl_vendor, libdb4.8

libgdbm4	(1.8.3-20)
	GNU dbm database routines (runtime)
	Required by: man-db, perl

libgmp10	(6.0.0a-1)
	Library for arbitrary precision arithmetic (C runtime)
	Required by: coreutils, gawk, libmpfr4

libiconv	(1.14-2)
	GNU character set conversion library and utilities
	Required by: man-db

libiconv2	(1.14-2)
	GNU character set conversion library and utilities - runtime (1)
	Required by: alternatives, coreutils, grep, man-db, tar, vim-minimal, libintl8, groff, libiconv, lynx, popt, perl_vendor, libxml2

libintl8	(0.18.3.2-2)
	GNU Internationalization runtime library
	Required by: alternatives, bash, coreutils, findutils, gawk, grep, man-db, sed, tar, util-linux, libiconv, lynx, xz, libblkid1, texinfo, popt, libp11-kit0

liblzma5	(5.0.5-1)
	LZMA de/compressor library (runtime)
	Required by: xz, perl_vendor

libmpfr4	(3.1.2-1)
	A library for multiple-precision floating-point arithmetic with exact rounding (runtime)
	Required by: gawk

libncurses10	(5.9-20140524-1)
	Terminal display library
	Required by: less, perl_vendor

libncursesw10	(5.9-20140524-1)
	Terminal display library
	Required by: bash, libreadline7, util-linux, vim-minimal, less, lynx, texinfo, perl_vendor

libopenssl100	(1.0.1j-1)
	A general purpose cryptography toolkit with TLS implementation (runtime)
	Required by: lynx, perl_vendor

libp11-kit0	(0.20.7-1)
	PKCS#11 module library
	Required by: p11-kit

libpcre1	(8.35-1)
	Perl Compatible Regular Expressions UTF-8 runtime
	Required by: grep

libpipeline1	(1.3.0-3)
	C library for manipulating pipelines of subprocesses - runtime.
	Required by: man-db

libpopt0	(1.16-1)
	Obsolete libpopt library
	Required by: cygutils

libssp0	(4.8.3-3)
	GCC Stack-Smashing Protection runtime library
	Required by: perl, perl_vendor

libstdc++6	(4.8.3-3)
	GCC C++ runtime library
	Required by: libncursesw10, groff, libncurses10, libdb4.8

libtasn1_6	(3.3-1)
	Tiny ASN.1 library (runtime)
	Required by: p11-kit, p11-kit-trust

libuuid1	(2.24.2-1)
	Universally Unique ID library (runtime)
	Required by: util-linux, libblkid1

libxml2	(2.9.2-1)
	GNOME XML library (runtime)
	Required by: perl_vendor

lynx	(2.8.7-1)
	Text-based Web browser
	Required by: man-db

p11-kit	(0.20.7-1)
	PKCS#11 module tool
	Required by: ca-certificates

p11-kit-trust	(0.20.7-1)
	PKCS#11 module library
	Required by: ca-certificates

perl	(5.14.2-3)
	Larry Wall's Practical Extracting and Report Language
	Required by: texinfo, perl_vendor

perl_vendor	(5.14.2-3)
	Additional vendor modules previously packaged in perl-5.10
	Required by: texinfo

popt	(1.16-1)
	Library for parsing cmdline parameters
	Required by: libpopt0

texinfo	(5.2-2)
	GNU documentation formatter and viewer
	Required by: _update-info-dir

xz	(5.0.5-1)
	LZMA de/compressor
	Required by: tar

_autorebase	(000657-1)
	Run rebaseall automatically
	Required by: cygwin, file, gawk, man-db, libgcc1, libgmp10, libpcre1, libpipeline1, libblkid1, libuuid1, libstdc++6, libopenssl100, perl, perl_vendor, libssp0, libxml2, p11-kit-trust, libp11-kit0

_update-info-dir	(01289-1)
	Generate info/dir file automatically
	Required by: bash, coreutils, findutils, gawk, grep, gzip, tar, texinfo

