/** Размещённый здесь CSS будет применяться ко всем темам оформления */
/*MediaWiki interface*/
.mw-plusminus-pos {color:#006400}
.mw-plusminus-neg {color:#8B0000}
.portlet li.FA {list-style-image:url('http://upload.wikimedia.org/wikipedia/en/d/d4/Monobook-bullet-star.png')}
.portlet li.GA {list-style-image:url('http://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/QS_blue_star_small.png/9px-QS_blue_star_small.png')}
.allpagesredirect {font-style:italic}
#file img {background:url("http://upload.wikimedia.org/wikipedia/commons/5/5d/Checker-16x16.png") repeat;}
#wpSave {font-weight:bold}
#userSummaryButtonsA a {
  white-space:nowrap;
  background: #C2F2FF;
  border: 1px solid #9BD5F5;
  padding: 0px 2px;
  margin: 2px;
  cursor: pointer;
  font-size: 80%;
  line-height: 17px;
  color: #5B5B5B
}
#userSummaryButtonsA a:hover {
  background: #B1EBFF;
  border: 1px solid #64BDF0;
  color: black;
  text-decoration: none
}
 
.warningbox {
  background: #FFFF99;
  border: 1px solid #EEEE00;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Nuvola_apps_important.png/30px-Nuvola_apps_important.png')
}
.informationbox {
  background: #F4FBFF;
  border: 1px solid #D5D9E6;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Information.svg/30px-Information.svg.png')
}
.warningbox, .informationbox {
  padding: 10px 10px 10px 50px;
  background-position: 10px center;
  background-repeat: no-repeat;
  vertical-align: middle;
  font-size: smaller;
}
 
 
/* [[Википедия:Оформление таблиц]] */
table.standard, table.wide
 {border:1px solid #AAAAAA; border-collapse: collapse}
table.standard th, table.wide th, table.wikitable th
 {border:1px solid #AAAAAA; padding-left:0.2em; padding-right:0.2em; background-color:#EEEEFF}
table.standard td, table.wide td
 {border: 1px solid #AAAAAA; padding-left:0.2em; padding-right:0.2em}
table.standard caption, table.wide caption, table.tiles caption
 {font-weight:bold; padding-top: 0.2em; padding-bottom:0.2em}
table.wide {width: 100%}
 
table.simple {border-color:#AAAAAA; border-collapse:collapse}
table.simple th, table.simple td {border-color:#AAAAAA; padding-left:0.2em; padding-right:0.2em}
 
table.tiles {border-collapse:separate; border-spacing:2px}
table.tiles th {padding-left:0.2em; padding-right:0.2em; background-color: #EEEEFF}
table.tiles td {padding-left:0.2em; padding-right:0.2em; background-color: #F0F0F0}
 
table.graytable {background:#f0f0f0; padding:1em; width: 100%}
table.graytable caption {padding:0.5em 0 0 0; background:#f0f0f0; font-size:100%; font-weight:bold}
table.graytable caption span.subcaption {font-size:80%; font-weight:normal}
table.graytable th, table.graytable td {font-size:80%}
 
table.wikitable, table.prettytable 
 {margin:1em 1em 1em 0; background:#F9F9F9; border:1px solid #AAAAAA; border-collapse:collapse}
table.wikitable th, table.wikitable td,
table.prettytable th, table.prettytable td 
 {border:1px solid #AAAAAA; padding:0.2em}
table.wikitable caption, table.prettytable caption 
 {margin-left:inherit; margin-right:inherit; font-size:larger; font-weight:bold}
table.prettytable th 
 {background:#f2f2f2}
 
tr.highlight th {background-color: #EEEEFF}
tr.highlight td {background-color: #FFFFEE}
tr.bright th   {background-color: #CCCCFF}
tr.bright td   {background-color: #FFEECC}
tr.shadow th, tr.shadow td  {background-color: #F0F0F0}
tr.dark th, tr.dark td  {background-color: #CCCCCC}
table th.highlight  {background-color: #EEEEFF}
table td.highlight  {background-color: #FFFFEE}
table th.bright  {background-color: #CCCCFF}
table td.bright  {background-color: #FFEECC}
table th.shadow, table td.shadow  {background-color: #F0F0F0}
table th.dark, table td.dark  {background-color: #CCCCCC}
table th.transparent, table td.transparent, .transparent {background-color: transparent}
 
table.toccolours th {background-color: #ccccff}
 
 
/* {ambox} */
table.ambox {
  width: auto;
  margin: 0 10%;
  border-collapse: collapse;
  background: #FBFBFB;
  border: 1px solid #AAAAAA;
  border-left: 10px solid #1E90FF
}
table.ambox th, table.ambox td {
  padding: 0.25em 0.5em;
}
table.ambox td.ambox-widthhack {
  padding: 0;
}
table.ambox td.ambox-text {
  width:100%;
}
table.ambox td.ambox-text .ambox-text-small {
  font-size:smaller;
}
table.ambox td.ambox-image {
  width: 52px;
  padding: 2px 0px 2px 0.5em;
  text-align: center;
}
table.ambox td.ambox-imageright {
  width: 52px;
  padding: 2px 4px 2px 0px;
  text-align: center;
}
table.ambox td.ambox-image div,
table.ambox td.ambox-imageright div {width:52px} /* Фикс для изображений разной ширины */
table.ambox-delete,
table.ambox-serious {
  border-left: 10px solid #B22222
}
table.ambox-content {
  border-left: 10px solid #F28500
}
table.ambox-style {
  border-left: 10px solid #F4C430
}
table.ambox-good {
  border-left: 10px solid #66CC44
}
table.ambox-discussion {
  border-left: 10px solid #339966
}
table.ambox-notice {
  border-left: 10px solid #1E90ff
}
table.ambox-merge {
  border-left: 10px solid #9932CC
}
table.ambox-protection {
  border-left: 10px solid #BBBBAA
}
table.ambox.ambox-mini {
  float: right;
  clear: right;
  margin: 0 0 0.5em 1em;
  width: 20%;
}
 
.infobox {
  border: 1px solid #aaaaaa;
  background-color: #f9f9f9;
  margin-bottom: 0.5em;
  margin-left: 1em;
  padding:.4em;
  float: right;
  clear: right;
  font-size: 90%;
  width: 18em;
  vertical-align: middle;
}
.infobox td, .infobox th {vertical-align:top}
table.infobox td p {margin:0} /* temporarily for [[Template:Карточка]]*/
 
.notice {
  text-align: justify;
  margin: 1em 0.5em;
  padding: 0.5em;
}
 
.messagebox {
  border: thin solid #aaaaaa;
  background-color: #f9f9f9;
  width: 88%;
  margin: 0 auto 1em auto;
  padding:.4em;
  vertical-align: middle;
  font-size: 90%
}
 
blockquote {
  margin:0.7em 0 0.7em 5%;
  padding:0.7em 2% 0.7em 4%;
  background-color:#F5F5F5;
}
 
ol.references {font-size:100%}
.references-small {font-size:90%}
/* highlight focused footnotes and references in some browsers */
sup.reference:target, ol.references li:target {background-color:#DDEEFF}
sup.reference:target {font-weight:bold}
/* scrollable references */
.references-scroll {
 overflow: auto;
 padding: 3px;
}
 
/* fix for line-breaking references */
sup, sub {line-height:1em}
 
.plainlinksneverexpand, .plainlinksneverexpand a
  {background:none !important; padding:0 !important}
.plainlinksneverexpand a.external.text:after,
.plainlinksneverexpand a.external.autonumber:after,
.plainlinksneverexpand .urlexpansion
  {display:none !important}
 
.clickable-image a:hover {text-decoration: none}
 
.hiddenStructure {display:none; speak:none}
 
#disambig {border-top: 3px double #cccccc; border-bottom: 3px double #cccccc}
 
 
/* {IPA}, {Unicode} and {Polytonic} */
.IPA { font-family: "Chrysanthi Unicode", "Doulos SIL", Gentium, GentiumAlt, Code2000, "TITUS Cyberbit Basic", "DejaVu Sans", "Bitstream Cyberbit", "Arial Unicode MS", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "Matrix Unicode"; font-family /**/:inherit; }
.Unicode { font-family: Code2000, Code2001, "Free Serif", "TITUS Cyberbit Basic", "Doulos SIL", "Chrysanthi Unicode", "Bitstream Cyberbit", "Bitstream CyberBase", Thryomanes, Gentium, GentiumAlt, "Lucida Grande", "Free Sans", "Arial Unicode MS", "Microsoft Sans Serif", "Lucida Sans Unicode";  font-family /**/:inherit; }
.polytonic { font-family: "Athena Unicode", Gentium, "Palatino Linotype", "Arial Unicode MS", "Lucida Sans Unicode", "Lucida Grande", Code2000;  font-family /**/:inherit; }
 
/* PDF icon next to external PDF link for Mozilla and Opera and for {PDFlink} template */
a[href$=".pdf"].external,
a[href*=".pdf?"].external,
a[href*=".pdf#"].external,
a[href$=".PDF"].external,
a[href*=".PDF?"].external,
a[href*=".PDF#"].external,
span.PDFlink a {background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Icons-mini-file_acrobat.gif/15px-Icons-mini-file_acrobat.gif) center right no-repeat !important; padding-right: 17px !important}
 
/* Clickable speaker in  {Template:Audio} ... */
.audiolink a {
  background: url("http://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/11px-Loudspeaker.svg.png") center left no-repeat !important;
  padding-left: 16px !important;
  padding-right: 0 !important;
}
 
/* Medialist templates {Listen}, {Multi-listen_start}, {Video}, {Multi-video_start} */
div.listenlist {
  background: url("http://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Gnome-speakernotes.png/30px-Gnome-speakernotes.png");
  padding-left: 40px;
}
div.videolist, div.multivideolist {
  background: url("http://upload.wikimedia.org/wikipedia/en/thumb/2/20/Tango-video-x-generic.png/40px-Tango-video-x-generic.png");
  padding-left: 50px;
}
div.medialist {
  min-height: 50px;
  margin: 1em;
  background-position: top left;
  background-repeat: no-repeat;
}
div.medialist ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}
div.medialist ul li {
  padding-bottom: 0.5em;
}
div.medialist ul li li {
  font-size: 91%;
  padding-bottom: 0;
}
 
/* {Навигация} */
table.navigation-box th,
table.navigation-box td {
  vertical-align: middle;
  height: 30px;
}
 
/* {Навигационная таблица} */
table.navbox {
  background-color: #f9f9f9;
  border: 1px solid #aaa;
  clear: both;
  font-size: 90%;
  margin: 1em 0em 0em;
  padding: 2px;
  width: 100%;
}
table.navbox th {
  background-color: #ccf;
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
}
 
 
/*{Навигационная полоса}, {Hider}, ... */
div.Boxmerge,
div.NavFrame {
  margin: 0px;
  padding: 2px;
  border: 1px solid #aaa;
  text-align: center;
  border-collapse: collapse;
  font-size: 95%;
}
div.Boxmerge div.NavFrame {
  border-style: none;
  border-style: hidden;
}
div.NavFrame + div.NavFrame {
  border-top-style: none;
  border-top-style: hidden;
}
div.NavPic {
  background-color: #fff;
  margin: 0px;
  padding: 2px;
  float: left;
}
div.NavFrame div.NavHead {
  height: 1.6em;
  font-weight: bold;
  font-size: 100%;
  background-color: #efefef;
  position:relative;
}
div.NavFrame p,
div.NavFrame div.NavContent,
div.NavFrame div.NavContent p {
  font-size: 100%
}
div.NavEnd {
  margin: 0px;
  padding: 0px;
  line-height: 1px;
  clear: both;
}
div.NavShow, div.NavHide {
  display: none;
}
a.NavToggle {
  position:absolute;
  top:0px;
  right:3px;
  font-weight:normal;
  font-size:smaller;
}
 
.messagebox.standard-talk {
  border: 1px solid #c0c090;
  background-color: #f8eaba
}
.messagebox .floatleft {
  vertical-align: middle;
  clear: both;
  margin: 2px;
  padding: 0
}
.messagebox .image {
  margin: 0;
  padding: 0
}
 
 
 
/* {coord}s */
#coordinates {  
 position:absolute;
 z-index:1;
 right:9em;
 top:3.7em;
 float:right;
 line-height:1.5em;
 text-align:right;
 font-size:85%;
 white-space:nowrap;
}
#coordinates, .coordinates {
 text-transform:none;
 margin:0;
 padding:0;
}
.geo-google {
 font-family:serif;
 font-weight:bold;
 line-height:1em;
}
.geo-geo-dec .geo-dec, .geo-geo-dms .geo-dms {display:inline}
.geo-geo-dec .geo-dms, .geo-geo-dms .geo-dec, .geo-multi-punct {display:none}
.geo-lat, .geo-lon {white-space:nowrap}
 
 
/* FlaggedRevs */
#mw-revisiontag, #mw-revisiontag-edit, #mw-oldreviewed-notice, li#ca-stable, 
.fr-diff-ratings, div.fr-diff-to-stable, ul#pagehistory small {display:none}
.unpatrolled {visibility:hidden}
.flaggedrevs-unreviewed, .flaggedrevs-unreviewed2, .flaggedrevs-color-1 {background-color:transparent}
 
 
/*Special:Statistics*/
.statistics-group-import, .statistics-group-transwiki, .statistics-group-developer,
.statistics-group-boardvote, .statistics-group-reviewer, .statistics-group-steward  {display:none}

/* 'show'/'hide' buttons created dynamically by the CollapsibleTables javascript
   in [[MediaWiki:Common.js]] are styled here so they can be customised. */
.collapseButton {       
    /* @noflip */
    float: right;
    font-weight: normal;
    /* @noflip */
    margin-left: 0.5em;
    /* @noflip */
    text-align: right;
    width: auto;
    font-size:70%;
}
/* In navboxes, the show/hide button balances the v·d·e links
   from [[Template:Navbar]], so they need to be the same width. */
.navbox .collapseButton {
    width: 6em;
}