@import url("cedar-hepforge-common.css");
@import url("cedar-jetweb.css");

@-server-constants url(bar.css)
@-server-constants url(bar2.css)

@-server-constants { 
  menu_bg_color:
  menu_highlight_color:
  menu_shadow_color:
  menu_text_color:
  menu_link_color:#333;
  menu_active_link_color:white;

  main_bg_color:white;
  main_text_color:#333;
  main_link_color:
  main_active_link_color:

  box_bg_color:
  box_border_color:

  myred:#932;
  foo:blah
  mypink:$myred
  myblue:$mypink
}

body { 
  margin:1em; 
  background:$main_bg_color;
  color:$main_text_color;
}

p {
  text-indent:0em; 
  /* color: $foo_test */
  /* color: $myblue */
}

th {
  text-align:left; 
  vertical-align:text-top;
}

td {
  text-align:left; 
  vertical-align:text-top; 
  padding-left:1em;
}

#cedartopbar, #cedarmain, #cedarnavbar table { 
  border-spacing:0; 
}

#cedarmain { 
  height:30em; 
  border-top:1px #887 solid; 
  border-left:2px #887 solid; 
  border-right:2px #665 solid; 
  border-bottom:2px #665 solid; 
}

#cedartopbar { 
  border-bottom:1px #665 solid; 
  padding:0; 
}

#cedarnavcol { 
  background:#cc9; 
  width:170px; 
  vertical-align:top; 
  padding-top:1em; 
  border-right:1px dashed #999; 
}

#cedarnavcol li { 
  margin:0.2em 0.8em 0.2em 0; 
  white-space:nowrap; 
}

#cedarnavcol ul ul { 
  padding-left:1.3em; 
} 

#cedarcontent { 
  padding:1em 3em 1em 2em; 
}

#cedarlogobox { 
  vertical-align:bottom; 
  width:200px; 
}

#cedarnavbar { 
  vertical-align:bottom; 
}

.pageholder td { 
  margin:0; 
  padding:0; 
  border:0 
}

#cedarnavbar td.navtab { 
  background:#cc9;
  font-variant:small-caps;
  text-align:center;
  padding:0.3em;
  border-left:1px #aa8 solid;
  border-top:1px #aa8 solid; 
  border-right:1px #333 solid; 
  border-bottom:0px;  
  -moz-border-radius:0.4em 0.4em 0 0; 
  border-radius:0.4em 0.4em 0 0; 
}

#cedarnavbar td.navtab:hover { 
  background:#dda;
}

#cedarnavbar td.navtab:hover a { 
  border:0;
  color:#333;
}

#cedarnavbar td.navtab-current { 
  background:#e9e9b9;
  border:1px #aa7 solid;
  border-right:2px #333 solid; 
  border-bottom:0px;
}

#cedarnavbar td.navtab-current:hover { 
  background:#e9e9b9;
}



@media print {
  td.navtab {
    display:none
  }
  #cedarnavcol {
    display:none
  }
  #cedarmain { 
    border:0; 
    padding-top:0em; 
  }
  #cedartopbar { 
    border-bottom:0; 
    display:none; 
  }
}

p.intro { 
  font-weight:bolder; 
}

#cedartopbar a, #cedarnavcol a { 
  text-decoration:none; 
  color:#333; 
}

#cedartopbar a { 
  font-weight:bold; 
}

#cedartopbar a:hover, #cedarnavcol a:hover { 
  color:white; 
  border:0; 
}

#cedarcontent:first-child, .contenttitle, .text-title { 
  margin-top:0.3em; 
  padding-top:0; 
}

#cedarnavcol li { 
  text-wrap:nowrap; 
}

.news { 
  border:1px dashed #dda; 
  background:#ffe; 
  padding:0.4em; 
  margin:1em 0; 
}

.news > h4 { 
  margin:0; 
}

.news > p.whenposted { 
  font-size:small; 
  margin-top:0; 
  padding:0; 
}

.news > p { 
  margin-bottom:0; 
}

a.jetweb-button{
	background:#cc9;
	font-variant:small-caps;
        text-align:center;
        text-decoration:none;
        color:#333;
        padding:0.3em;
        border-left:1px #aa8 solid;
        border-top:1px #aa8 solid; 
        border-right:1px #aa8 solid; 
        border-bottom:1px #aa8 solid;  
        moz-border-radius:0.4em 0.4em 0 0; 
        border-radius:0.4em 0.4em 0 0;
	border-style: outset;
}

a.jetweb-button:hover{
	background:#dda;
#        border-style: inset ;
}
 a.jetweb-button:active{
	border-style: inset;
}
