// winmenu.rc
// файл ресурсов для программы winmenu.asm
//
#define ZZZ_TEST 0
#define ZZZ_OPEN 1
#define ZZZ_SAVE 2
#define ZZZ_EXIT 3

ZZZ_Menu MENU {
	POPUP "&File" {
		MENUITEM "&Open",ZZZ_OPEN
		MENUITEM "&Save", ZZZ_SAVE
		MENUITEM SEPARATOR
		MENUITEM "E&xit",ZZZ_EXIT
	}
	MENUITEM "&Edit",ZZZ_TEST
}
