// winpad95.rc
// файл ресурсов для программы winpad95.asm
//

// идентификаторы сообщений от пунктов меню
#define IDM_NEW		0x100L
#define IDM_OPEN	0x101L
#define IDM_SAVE	0x102L
#define IDM_SAVEAS	0x103L
#define IDM_EXIT	0x104L
#define IDM_ABOUT	0x105L
#define IDM_UNDO	0x106L
#define IDM_CUT		0x107L
#define IDM_COPY	0x108L
#define IDM_PASTE	0x109L
#define IDM_CLEAR	0x10AL
#define IDM_SETSEL	0x10BL

// идентификаторы основных ресурсов
#define ID_MENU		0x700L
#define ID_ACCEL 	0x701L
#define ID_ABOUT	0x702L

// если есть иконка - можно раскомментировать следующие две строки
// #define ID_ICON 0x703L
// ID_ICON ICON "winpad95.ico"

// основное меню
ID_MENU MENU DISCARDABLE {
	POPUP "&File" {
		MENUITEM "&New\tCtrl+N", IDM_NEW
		MENUITEM "&Open...\tCtrl+O",IDM_OPEN
		MENUITEM "&Save\tCtrl+S", IDM_SAVE
		MENUITEM "Save &As...\tCtrl+Shift+S", IDM_SAVEAS
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tCtrl+Q",IDM_EXIT
	}
	POPUP "&Edit" {
		MENUITEM "&Undo\tCtrl-Z", IDM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t\tCtrl-X", IDM_CUT
		MENUITEM "&Copy\tCtrl-C", IDM_COPY
		MENUITEM "&Paste\tCtrl-V", IDM_PASTE
		MENUITEM "&Delete\tDel", IDM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "Select &All\tCtrl-A", IDM_SETSEL
	}
	POPUP "&Help" {
		MENUITEM "About", IDM_ABOUT
	}
}

// комбинации клавиш
ID_ACCEL ACCELERATORS DISCARDABLE {
	"N", IDM_NEW, CONTROL, VIRTKEY
	"O", IDM_OPEN, CONTROL, VIRTKEY
	"S", IDM_SAVE, CONTROL, VIRTKEY
	"S", IDM_SAVEAS, CONTROL, SHIFT, VIRTKEY
	"Q", IDM_EXIT, CONTROL, VIRTKEY
	"Z", IDM_UNDO, CONTROL, VIRTKEY
	"A", IDM_SETSEL, CONTROL, VIRTKEY
}

// все эти определения можно заменить на #include <winuser.h>
#define DS_MODALFRAME	0x80L
#define DS_3DLOOK	4
#define WS_POPUP	0x80000000L
#define WS_CAPTION	0xC00000L
#define WS_SYSMENU	0x80000L
#define IDOK		1
#define IDC_STATIC	-1
#define IDI_APPLICATION 32512
#define WS_BORDER	0x800000L

// стандартный диалог "About"
ID_ABOUT DIALOG DISCARDABLE 0,0,125,75
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Asmpad95"
{
	ICON		IDI_APPLICATION,IDC_STATIC,12,15,21,20
	CTEXT		"Asmpad95",IDC_STATIC,0,30,40,8
	CTEXT		"Prototype notepad-style editor for Windows 95 written entirely in assembly language",
			IDC_STATIC,45,10,70,45,WS_BORDER
	DEFPUSHBUTTON	"OK",IDOK,35,60,40,10
}
