@charset utf-8;@media all{a img{border:none;}pre,code{overflow:auto;font-size:12px; font-style:monospace;}form,ul,li{margin:0;padding:0;}button::-moz-focus-inner{border:0 solid transparent;}button{overflow:visible!important;padding:0;}.bold{font-weight:700!important;}.p{display:block;padding:4px 0;}.center{text-align:center;}.f-left{float:left;}.f-right{float:right;}.clear{display:block;clear:both;height:1px;font-size:1px;line-height:1px;}.relative{position:relative;}.test{border:1px solid red;}.vmiddle{vertical-align:middle}.nomargin{margin:0!important}.nopadding{padding:0!important;}.noborder{border:none!important;}.imageleft{float:left;margin-right:10px;margin-bottom:10px;}.hidden{display:none!important;}.visible{display:block!important;visibility:visible!important;}.empty{text-align:center!important;font-size:16px;}.underline{text-decoration:underline!important;}.underline:hover{text-decoration:none!important;}.nobg{background:transparent!important;}.nobgimage{background-image:none!important;}.small{font-size:11px}.z-index-153{z-index:153}.width-auto{width:auto!important;}img,input{vertical-align:top;}}
@media screen,projection{

h4,h3,h2,h1 { margin:0}
h1 {font-size: 26px !important}
h2 {font-size: 120%; color:#999}

.mr-10 {margin-right: 10px}
.mt-10 {margin-top: 10px}
.w-440 {width:440px}
textarea {width: 300px;height:100px;padding:2px;overflow:auto}
input {height:20px}
.search-form {
    display: inline-block;
    margin-bottom: 40px;
    margin-top:10px;
}

.search-form input {
    padding:2px;
    height: 29px;
    font-size:17px;
    width: 730px !important;
}

.button {
    border:0;
    background:#e9ebf1;
    cursor:pointer;
    vertical-align:middle;
    display:inline-block;
    padding:5px 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 3px #181819;
    -moz-box-shadow: 2px 2px 3px #181819;
    box-shadow: 2px 2px 3px #181819;
    color:#666;
    font-size:13px;
}

.book-loading {
    background: url(../images/book-load.gif) no-repeat 86% 10px
}

.small-btn {
    cursor:pointer;
    text-decoration:none;
    font-size: 11px;
    color:#666;
    padding:2px 8px;
    border:1px solid #dfe0e5;
    background-color:#fff;
    margin-right: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

button.small-btn {
    background:#e9ebf1;
}

#wrapper {
    min-width: 1073px;
    max-width: 1154px;
    margin:0 auto;
    padding: 0 40px;
}

#wrapper, a, button, input {
    font: normal 15px/21px Verdana, Arial, Helvetica, sans-serif;
}

a {
    font-size: 13px;
    color:#39c;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#top-menu {
    height: 20px;
    text-align: right;
}

#top-menu a {
    font-size: 11px;
    color: #ccc;
    font-style:italic;
}

#logo {
    display: block;
    background: url(../images/logo.jpg) no-repeat 0 0;
    width: 204px; height: 292px;
}

#slogan {
    display:block;
    margin-top:68px;
    float:right;
    background: url(../images/slogan.jpg) no-repeat 0 0;
    width: 868px; height: 220px;
}

#menu {
    margin-top: 50px;
}

#menu a {
    display: inline-block;
    font-size:21px;
    color:#323232;
    margin-right: 35px;
}

#wrapper .act {
    color: #69c;
}

#content .public {
    margin-bottom:30px;
}

#content .page-dscr ul {
    margin-left:20px;
}

#content .page-dscr h2 {
    color:#323232;
    margin-top:28px;
}

h1,
#content .public h2 a,
#content .box-content h4 a {
    font-size:22px;
    color:#323232;
    text-decoration: none;
    font-weight: normal;
}

#content .public h2 a:hover .txt,
#content .box-content h4 a:hover .txt {
    text-decoration: none;
}

#content .public a:visited span.idea,
#content .box-content a:visited .s-idea,
#content span.idea.off {
    background-position: 0 bottom;
}

#content .public h2 span.txt,
#content .box-content h4 span.txt {
    text-decoration: underline;
    vertical-align: middle;
}

#content .public .brief,
#content .dscr {
    margin-top: 10px;
    color:#333;
    padding-left:5px;
}

#content .dscr a { font-size: 15px }


#content .cwrap .more {
    padding-right: 10px;
/*
    font-size:16px;
*/
    display: inline-block;
    margin-top: 5px;
}

#wrapper .s-item {
    font-style: normal;
    color: #f90;
    font-size: 13px;
}

#wrapper .public-footer a,
#wrapper .public-footer {
    font-size: 11px
}

#wrapper .public-footer {
    margin-top:10px;
    color:#999;
}

#content .cmt {
    display: inline-block;
    background: url(../images/cmt.jpg) no-repeat 0 center;
    width:15px; height:17px;
    margin-left: 5px;
    padding-left: 19px;
    vertical-align: middle;
    line-height: 14px;
}

#content {
    margin-top: 35px;
}

#wrapper .container {
    float: left;
    width: 100%;
    margin-right: -30%;
}

#wrapper .cwrap {
    margin-right: 30%;
}

#wrapper .sidebar {
    width: 30%;
    float:right;
}

#content .sidebar .box {
    margin-left: 20px;
}

#content .box {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px #EAEEEF;
    -moz-box-shadow: 0px 0px 20px #EAEEEF;
    box-shadow: 0px 0px 20px #EAEEEF;
    margin-bottom:20px;
}

#content .box h3 {
    color:#323232;
    font-weight: normal;
    font-size: 20px;
    padding:20px 0 20px 20px;
}

#content .box-content {
    padding-left:20px;
    font-size:12px;
    padding-right:10px;
    padding-bottom: 20px;
}

#content .box-content h4 {
    padding-bottom: 10px;
}
#content .box-content h4 a {
    font-size: 12px;
    line-height: 12px;
}

#search {
    margin-top:9px;
}

.mfield {
    position: relative;
}

.mfield input {
    padding-left:6px;
    font-size: 13px;
}

.mfield label {
    position: absolute;
    color:#ccc;
    padding-left:10px;
    top:0; left:0px;
    font-size: 12px;
    width: 96%; height:100%;
    background: #fff;
    line-height: 19px;
}

#search input {
    border: 0;
    width:100%;
    font-size: 12px;
}

#content .idea, #content .s-idea {
    display: inline-block;
    margin-right: 10px;
    background: url(../images/idea.jpg) no-repeat 0 top;
    vertical-align: middle;
    width:20px; height:33px;
}

#content .s-idea {
    background: url(../images/s-idea.jpg) no-repeat 0 top;
    width: 10px; height: 17px;
}

#content .pager a {
    display: inline-block;
    margin-right: 5px;
    height:20px;
    font-size:17px;
    padding:0 4px 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#content .pager a.act {
    background-color:#69c;
    color:#fff;
    text-decoration: none;
}

#content .pager .next,
#content .pager .prev {
    padding:0;
    background: url(../images/arrs.jpg) no-repeat 0 0;
    width:23px; height:9px;
    margin-left: 4px;
}

#content .pager .prev {
    margin-right:9px;
    margin-left:0;
    background-position: 0 bottom !important;
}

#content .similar {
    margin-top:20px;
}

#content .date {
    color:#999;
    background:url(../images/dot.jpg) no-repeat 0 center;
    padding-left:10px;
    margin-left:5px;
    font-size:12px;
}

#content .dscr h3,
#content .cmt-wrap h3 a {
    font-weight: normal;
    color:#8f8f8f;
    margin-bottom: 10px;
    font-size:15px;
}

#content .cmt-wrap h3 a {
    text-decoration: none;
    border-bottom: 1px dashed #8f8f8f;
}

#content .similar h3 {text-transform: uppercase}

#content .similar ul {
    list-style: none;
}

#content .similar li {
    padding-left:15px;
    background: url(../images/arr-gray.jpg) no-repeat 0 center;
}

#content .cmt-wrap {
    margin-top: 30px;
    font-size: 12px;
}

#footer {
    margin-top: 30px;
    height: 100px;
    padding-top:70px;
/*
    padding-left: 50px;
*/
    background: #838385 url(../images/footer.jpg) no-repeat center 0;
    font-size: 13px;
    text-align:center
}

#footer .counters {
    margin-top: 10px;
}
#footer .txt {
    -webkit-text-shadow: #000 0 5px 3px;
    -moz-text-shadow: #000 0 5px 3px;
    text-shadow: #000 0 5px 3px;
}

#footer a, #footer {
    color:#fff;
}

/* Forms */
.bfield {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 20px #D4E1E4;
    -moz-box-shadow: 0px 0px 20px #D4E1E4;
    box-shadow: 0px 0px 20px #D4E1E4;
    margin-bottom: 10px;
}

.bfield input, .bfield textarea {
    border:0;
}

.bfield input:focus, .bfield textarea:focus {
/*
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #6B88AD;
*/
}

.bfield input {
    width: 215px;
}

.bfield textarea {
    width: 433px;
    resize:none;
}

.tip {
    position:absolute;
    top: -55px; left: -7px;
    height:53px;
    padding:12px 5px 5px 20px;
    width:204px;
    font-size:12px;
    color:#fff;
    font-weight: bold;
}

div.notice {
    color: #5ED416;
}

div.error {
    color: #ff3b3c;
}

.tip-err-reverse, .tip-err {background:url(../images/tip-err.jpg) no-repeat 0 0}
.tip-err-reverse {
    background-position:right 0;
    top:auto; bottom: -84px;
    padding-top: 20px ;
}
.tip-err ul, .tip-err-reverse ul {
    list-style: none
}

/* Comments */
#comments {
    margin-top: 20px;
    color: #666;
    font-size:13px;
}

#comments ul {list-style:none}
#comments li ul {margin-left: 50px}

#comments .reply-form {
    margin-bottom: 10px;
    width: 440px;
    margin-left:50px;
}

#comments .body {
    margin-top:10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

#comments a.small-btn {font-size:11px}

.heading {
    padding: 2px;
    border:1px solid #dbe0e5;
    background-color:#ebf0f5;
    height:42px;
    line-height:37px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.heading .name {
    text-decoration: underline;
    font-weight: bold;
}

.heading .actions {
    font-size:11px;
    color:#666;
    height: 42px;
    line-height: 42px;
    margin-right: 10px;
}

.heading .image {
    display: inline-block;
    width: 42px; height:41px;
    overflow:hidden;
    margin-right: 10px;
    vertical-align:middle;
}

/* Vote */
#question label {
    display: block;
}

#question-results, #question-results li {
    list-style:none; list-style-image:none; list-style-type:none;
}

#question-results .graph {
    font-size:1px;
    margin-top:4px;
    height:5px;
    background-color:#ccc;
}

#question-results .range{
    font-size:1px;
    background-color:#3399CC;
    height:5px;
}

/* Socials */
.vk, .fb, .tw {
    display: inline-block;
    width:22px; height:22px;
    background: url(../images/share.jpg) no-repeat 0 0;
}

.fb {background-position: -45px 0}
.vk {background-position: -22px 0}

.social_item {
    float:left;
    margin-right: 10px;
}


/* Code */
pre {
    display:block;
    border-left: 3px solid #ccc;
    padding:5px 0 5px 5px;
}
pre code {
  display: block; padding: 0.5em;
}

pre .comment,
pre .annotation,
pre .template_comment,
pre .diff .header,
pre .chunk,
pre .apache .cbracket {
  color: rgb(0, 128, 0);
}

pre .keyword,
pre .id,
pre .title,
pre .built_in,
pre .aggregate,
pre .smalltalk .class,
pre .winutils,
pre .bash .variable,
pre .tex .command {
  color: rgb(0, 0, 255);
}

pre .string,
pre .title,
pre .parent,
pre .tag .value,
pre .rules .value,
pre .rules .value .number,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .instancevar,
pre .aggregate,
pre .template_tag,
pre .django .variable,
pre .addition,
pre .flow,
pre .stream,
pre .apache .tag,
pre .date,
pre .tex .formula {
  color: rgb(163, 21, 21);
}

pre .ruby .string,
pre .decorator,
pre .filter .argument,
pre .localvars,
pre .array,
pre .attr_selector,
pre .pseudo,
pre .pi,
pre .doctype,
pre .deletion,
pre .envvar,
pre .shebang,
pre .preprocessor,
pre .userType,
pre .apache .sqbracket,
pre .nginx .built_in,
pre .tex .special {
  color: rgb(43, 145, 175);
}

pre .phpdoc,
pre .javadoc,
pre .xmlDocTag {
  color: rgb(128, 128, 128);
}
#content .banner-block {
    width:326px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #CCC;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
}
