body {color: black; background: white; margin: 0;}

a {color: #006890;}
a:active {color: #800000;}
a:visited {color: #003860;}

.document {text-align: justify}
dt {text-align: left}
pre {text-align: left; border: 1px solid; padding: 3px; width: 520px; overflow: auto; font-size: 9pt;}
a.head {font-family: Times; font-size: 9pt;}
A.plain {text-decoration: none; color: navy;}
.topic {color: #005050; font-family: Arial Cyr, Arial, sans-serif; font-size: 9pt; font-weight: bold;}
p.topic1 {font-family: Arial Cyr, Arial, sans-serif; font-size: 12pt; font-weight: bold;}
p.header {color: #000000; font-weight: bold;}
H1 {font-family: Arial Cyr, Arial, sans-serif; }
H2 {font-family: Arial Cyr, Arial, sans-serif; }
H3 {text-align: left; font-family: Arial Cyr, Arial, sans-serif; font-size: 16pt}
H4 {text-align: left; font-family: Arial Cyr, Arial, sans-serif; font-size: 14pt}
H5 {text-align: left; font-family: Arial Cyr, Arial, sans-serif; font-size: 12pt}
H6 {text-align: left; font-family: Arial Cyr, Arial, sans-serif; font-size: 11pt}
.earlink {font-family: serif; font-size: 10pt;}

table.ad td {vertical-align: top;}
table.ad a {text-decoration: none;}
table.ad div {margin: 3pt; font-size: 9pt; font-family: Times}
div.ad-head {color: navy; font-weight: bold; text-decoration: underline}
div.ad-body {color: black;}
div.ad-site {color: red; font-family: helvetica}
div.ad-url {color: red; font-family: helvetica}

table.go {background: #feeac7;}
table.go td {vertical-align: top;}
table.go a {text-decoration: none;}
table.go div {margin: 3pt; font-size: 9pt; font-family: Times}
p.go-line {text-align: center; color: darkblue; font-weight: bold}

ul.column {list-style:inside; padding:0; margin: 0;}

div.go {margin: 0; padding: 0px; font-size: 15px; font-family: Times}
div.go a {text-decoration: none}
div.go-head {padding: 2px; color: navy; font-weight: bold; text-decoration: underline}
div.go-body {padding: 2px; color: black;}
div.go-site {padding: 2px; color: red; font-family: helvetica}

.comment {margin-top: 24px}

.comments_menu {font-size: 14px; padding-bottom: 8px}
.comments_menu a {text-decoration: none}
.comments_menu_date {text-align: right}

