#hepcode-key { border:2px #aaa solid; background:#ddd; padding:1em; margin:1.5em 0; width:40em; }

#hepcode-listing td { padding:0.8em 0; }
#hepcode-listing td { border-bottom:1px grey dashed; }
#hepcode-listing th { border-bottom:1px grey dashed; padding-bottom:0.8em; }

.hepdata-paper { border:1px dashed grey; background:ghostwhite; padding:1em }
.hepdata-dataset { padding:0.5em; margin:1em 0 }
.hepdata-dataset table { border:1px black solid; border-top:2px black solid; border-bottom:2px black solid; border-collapse:collapse }
.hepdata-dataset .hepdata-axis { padding:0.2em 0.5em }
.hepdata-dataset .hepdata-xaxis { background:oldlace }
.hepdata-dataset .hepdata-yaxis { background:oldlace }
.hepdata-dataset .hepdata-axis-head { background:navajowhite; border-bottom:1px solid black }
