body#hf_body { 
    margin: 0; 
    font-family:sans-serif; 
    color:#333; 
    padding: 0 0 1em 0;
}

.news { border:1px dashed #dda; background:#ffe; padding:0.4em; margin:1em 0; }
.news > h4 { margin:0; }
.news > p.whenposted { font-size:small; margin-top:0; padding:0; }
.news > p { margin-bottom:0; }

img { border:0; }

a { text-decoration:none; color:#933; }
a:hover { color:#639; }

li { padding:0.2em 0; }
ol.nowrap li, ul.nowrap li { white-space:nowrap; }
.hspacer { width:100%; }
p, li { max-width:50em; }

body hr { border:0; background:#cca; }

#hepforge-content { padding:1em; padding-top:0; margin-top:3ex;}
#hepforge-content-nosidebar { padding-top:0;}

.hepforge-column {
    vertical-align:top;
}

#hepforge-sidebarbox {
    white-space:nowrap;
    background:#eec; 
    border:#cca 5px solid; 
    padding:1em; 
    padding-left:2em; 
    margin-right:2em; 
    margin-top:0
}


table.tickets td.owner { white-space:nowrap; }

/* Downloads manager */
.hf-download .download-list table { border-collapse:collapse; width:100%; border:1px grey solid; margin-bottom:2em; }
.hf-download .download-list table:last-child { margin-bottom:1em; }
.hf-download .download-list table tr:first-child { background:grey; }
.hf-download .download-list table tr.highestversion { background:lightpink; }
.hf-download .download-list table .oddeven0 { background:white; }
.hf-download .download-list table .oddeven1 { background:#cce; }
.hf-download .download-list table th { padding:0.3em; }
.hf-download .download-list table td { padding:0.3em; }
.hf-download .download-list table td:first-child { font-weight:bolder; }
.hf-download li.withfiles { font-weight:bold; }
.hf-download li.nofiles { font-weight:normal; }

/* Forms */
#cedarcontent form .formfielddesc { color:saddlebrown }
#cedarcontent form table { border-collapse:collapse }
#cedarcontent form table td { padding:0.2em 0.5em; }
#cedarcontent form table td { vertical-align:top }
#cedarcontent form input { padding:0.3em }
#cedarcontent form input, #cedarcontent form textarea { border:1px solid grey; border-left:1px solid lightgrey; border-top:1px solid lightgrey; -moz-border-radius:0.1em; border-radius:0.1em }
#cedarcontent form input[type=text] { background:white }
#cedarcontent form input[type=checkbox] { background:white }
#cedarcontent form textarea { background:white }
#cedarcontent form input[type=text]:focus, #cedarcontent form textarea:focus { background:linen }
#cedarcontent form input[type=submit] { background:#cc9; color:saddlebrown }
#cedarcontent form input[type=submit] { font-weight:bolder; font-size:90%; cursor:pointer }
#cedarcontent form input[type=submit]:hover { color:white }

/* Source highlighting */
div.highlight { 
  background:#eef;
  border:#aab 1px solid;
  padding:0.75em;
  margin-right:1em;
  -moz-border-radius:0.2em;
  border-radius:0.2em;
}

/* Generally useful things */
code, kbd, tt { font-family:monospace,courier,fixed; font-size:smaller; }
code.display, kbd.display { display:block; white-space:nowrap; padding:0.2em; background:#f9f9dd; border:1px dashed #ddb; margin:1.0em; -moz-border-radius:0.2em; } 
code.pre, kbd.pre { display:block; white-space:pre; padding:0.2em; background:#f9f9dd; border:1px dashed #ddb; margin:1.0em; -moz-border-radius:0.2em; } 
.generic { font-style:oblique; }
.generic:before { content:"<"; }
.generic:after { content:">"; }
code.key, kbd.key {  background:#eec; border:1px solid #cca; color:#442; margin:0em 0.1em; padding:0.1em 0.3em; -moz-border-radius:0.2em; }
code { color:#663; }

.todo, .important, .warning, .note { padding:1em; border:dashed grey 1px; margin-left:0.2em; margin-right:0.5em; }
.todo, .todo:before { content:"TODO: "; background:#fc9; }
.important, .important:before { content:"IMPORTANT: "; background:#fcc; }
.warning, .warning:before { content:"WARNING: "; background:#f97; }
.note, .note:before { content:"NB: "; background:#ffc; }

.subdued { color:#977; font-size:90%; }

@media print {
    .noprint {display:none}
}


/* end of old cedar-common */



:link, *:visited, a:visited {
    border-bottom:0;
    color: #993333;
    text-decoration: none;
}


#hf_header {
    background: #ddb;
    padding-top: 0.4ex;
    padding-bottom: 0.3ex; 
    border-bottom:#996 solid 2px;
    font-family:sans-serif; 
    vertical-align:middle;
    font-size: small;
    color: #333;
    overflow: auto;
}
#hf_banner {
    padding: 0.2ex 1em 0.2ex 0;
    float: right;
    padding-right:0.5em;
}
#hf_projname {
    width: 15em;
    overflow:hidden;
    padding-left: 0.1em;
    padding-top: 0.2ex;
    padding-bottom: 0.2ex;
    float: left;
    margin-left:0.2em;

/*
    background: #eec;
    border: 1px solid #999966;
*/

/*    font-weight:bold;*/
}
