body, table, div, p, dl {
	font: 400 18px/19px Roboto,sans-serif;
    line-height: 140%;
}

table {
    max-width: 75em;
}

p, li, .todo, dl {
    max-width: 65em;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.1em;
}
